.main-color {
    color: #CB252E !important;
}
.alert-color {
    color: #CB252E !important;
}

div.page-title {
    border-bottom-color: #DDDDDD;
    background-color: #E2E2E2;
    background-image: -webkit-linear-gradient(top, #EEEEEE, #E2E2E2);
    background-image: -moz-linear-gradient(top, #EEEEEE, #E2E2E2);
    background-image: -ms-linear-gradient(top, #EEEEEE, #E2E2E2);
    background-image: -o-linear-gradient(top, #EEEEEE, #E2E2E2);
    background-image: linear-gradient(top, #EEEEEE, #E2E2E2);
}
div.page-title > i {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #CB252E;
}
div.page-title > span {
    color: #000000;
    text-shadow: 0px 1px 1px #FFFFFF;
}

div.menu-switch {
    color: #FFFFFF;
    background-color: #CB252E;
    background-image: -webkit-linear-gradient(top, #E02B34, #CB252E);
    background-image: -moz-linear-gradient(top, #E02B34, #CB252E);
    background-image: -ms-linear-gradient(top, #E02B34, #CB252E);
    background-image: -o-linear-gradient(top, #E02B34, #CB252E);
    background-image: linear-gradient(top, #E02B34, #CB252E);
}
div.menu-switch:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
}

ul.navigation > li > a.open,
ul.navigation > li > a.active {
    border-left-color: #CB252E;
}

div.html-bar-indicator div {
    background-color: #CB252E;
}

div.form-wizard-indicator.current label span {
    border-color: #CB252E;
    background: #CB252E;
}
div.form-wizard-indicator.current span.desc {
    color: #CB252E;
}

h3 {
    color: #CB252E;
}

h3 {
    border-bottom-color: #CB252E;
}

h5 {
    color: #FFFFFF;
    background-color: #CB252E;
}

a {
    color: #CB252E;
}

ul.dropdown {
    border-top-color: #CB252E;
}

.sortable-placeholder {
    border: 2px dashed #CB252E;
}