.main-color {
    color: #91A244 !important;
}
.alert-color {
    color: #015077 !important;
}

div.page-title {
    border-bottom-color: #91A244;
    background-color: #91A244;
}
div.page-title > i {
    color: #91A244;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}
div.page-title > span {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

div.menu-switch {
    color: #FFFFFF;
}

ul.navigation > li > a.open,
ul.navigation > li > a.active {
    border-left-color: #91A244;
}

div.html-bar-indicator div {
    background-color: #91A244;
}

div.form-wizard-indicator.current label span {
    border-color: #91A244;
    background: #91A244;
}
div.form-wizard-indicator.current span.desc {
    color: #91A244;
}

h3 {
    color: #91A244;
}

h3 {
    border-bottom-color: #91A244;
}

h5 {
    color: #FFFFFF;
    background-color: #91A244;
}

a {
    color: #91A244;
}

ul.dropdown {
    border-top-color: #91A244;
}

.sortable-placeholder {
    border: 2px dashed #91A244;
}