@import url(http://fonts.googleapis.com/css?family=Lato:700,700italic|Oswald|Open+Sans:400,600);
svg{font:10px sans-serif;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#oscope{opacity:0.0;}
.reel-cached{display:none;}
.line{fill:none;stroke:#5CBA47;stroke-width:2.5px;}
.xv-line{fill:none;stroke:#f00;stroke-width:2.5px;}
.xv-line-ghost{fill:none;stroke:#666;stroke-width:2.5px;}
.zero-line{fill:none;stroke:#333;stroke-width:1px;}
.axis path,.axis line{fill:none;stroke:#5CBA47;shape-rendering:crispEdges;}
.properties-pane{width:100%;height:100%;font-family:'Arial',sans-serif;font-weight:bold;text-align:left;z-index:100;position:fixed;}
#floatrect{opacity:0.0;}
#interactive{width:100%;height:100%;position:absolute;z-index:100;}
#video{width:100%;height:100%;position:absolute;}
#video iframe{width:100%;height:100%;z-index:50;position:absolute;}
#video video{width:100%;height:100%;z-index:50;position:absolute;display:none;}
.blocker{width:100%;height:100%;position:absolute;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:51;}
.noTitleStuff .ui-dialog-titlebar{display:none;}
.standard-wrapper{position:absolute;top:30px;left:30px;bottom:30px;right:30px;}
.tight-wrapper{position:absolute;top:0;left:0;right:0;bottom:30px;}
#stage{width:100%;position:absolute;/*top:0;bottom:60px;*/}
#controls{background-color:#666;position:absolute;bottom:0;height:50px;width:100%;}
#timeline-controls{width:100%;height:30px;bottom:0;position:absolute;opacity:0.7;z-index:1001;background-color:#ccc;}
.timeline-container{top:0;bottom:0;left:40px;right:70px;position:absolute;}
#clock{bottom:8px;right:33px;width:30px;font-family:Lato,sans-serif;font-size:12px;font-weight:700;position:absolute;}
.volume-icon{bottom:5px;right:8px;width:20px;height:20px;font-size:20px;position:absolute;vertical-align:middle;}
.timeline-background-rect{fill:#ccc;opacity:0.0;}
.timeline-segment-marker{fill:red;}
.timeline-subsegment-marker{fill:#999;}
.timeline-progressbar{fill:#fff;}
.timeline-progressbar-background{fill:#aaa;}
.timeline-button{height:100%;width:40px;margin:0;padding:0;opacity:0.5;}
.timeline-svg{width:100%;height:100%;}
#scene-indicator-container{position:absolute;left:5px;right:0;opacity:0.8;z-index:1001;padding:0;height:20px;bottom:30px;}
#scene-indicator{position:absolute;bottom:20%;top:15%;left:125px;right:10px;z-index:1001;padding:0;}
.scene-indicator-group{opacity:0.8;height:100%;width:100%;}
.scene-indicator-active{fill:#fff;stroke:#666;stroke-width:2;}
.scene-indicator-inactive{fill:#999;}
.scene-indicator-label{bottom: 20%; font-size:10px;font-family:sans-serif;font-weight:bold; left: 75px; position: absolute; color:#ddd;}
.lower-third{position:absolute;height:55px;left:0;right:0;bottom:30px;background-color:#444;opacity:0.8;z-index:1000;padding:5px; display:none;}
.lower-third-title{font-size:30px;font-family:sans-serif;color:#fff;}
.subtitles{position:absolute;height:60px;left:0;right:0;bottom:50px;z-index:900;display:none;font-size:20px;font-family:sans-serif;color:#ff6;text-align:center;padding:3px;background-color:#333;overflow-y:scroll;}
.loading-indicator{position:absolute;height:100%;width:100%;display:none;z-index:1000;}
.loading-icon{width:54px;height:54px;position:absolute;left:50%;top:50%;margin-left:-27px;margin-top:-27px;}
.loading-icon span{margin-left:-27px;}
.logo-overlay{position:absolute;left:2%;top:2%;width:7%;opacity:.5;z-index:1000;}
.survey-overlay{position:absolute;height:800px;width:90%;margin:20px 20px;padding:10px;background-color:#fff;display:none;z-index:2000;box-shadow:1px 1px 20px black;}
.survey-overlay-content{overflow:scroll;height:800px;}
img.lesson-teaser{float:right;}
.logo-overlay{position:absolute;left:2%;top:2%;width:7%;opacity:.5;z-index:1000;}
.lesson-overlay{position:absolute;height:80%;width:80%;margin:30px 30px;padding:20px;background-color:#fff;display:none;z-index:2000;box-shadow:1px 1px 20px black;}
.lesson-overlay-content{overflow:scroll;position:absolute;top:30px;bottom:0;left:0;right:0;}
.toplevel-overlay{position:absolute;margin-top:0;margin-bottom:0;width:90%;margin:20px 20px;padding:10px;background-color:#fff;display:none;z-index:9000;box-shadow:1px 1px 20px black;top:10px;bottom:10px;}
.toplevel-overlay-content{overflow:scroll;height:80%;}
.right-nav{position:absolute;right:10px;top:2%;width:200px;height:30px;opacity:0.5;z-index:1000;text-align:right;}
.autosize{position:absolute;}
.backdrop{position:fixed;left:0;top:0;bottom:0;right:0;z-index:0;opacity:1.0;background-color:#000;}
.msg-flash{position:relative;width:300px;height:30px;margin-top:0;margin-left:auto;margin-right:auto;background:#444;padding:0.5em;border:1px solid #aacbe2;z-index:2000;text-align:center;color:#fff;font-size:44;}
.error-flash{background:#f0d6d6;padding:0.5em;opacity:0;}
.form-error{color:red;}
.error-content{width:400px;margin-left:auto;margin-right:auto;margin-top:200px;}
.error-content h1{font-family:Oswald,sans-serif;font-weight:bold;font-size:22px;}
.error-content h2{font-family:Lato,sans-seif;font-size:18px;}
.error-content p{font-family:Lato,sans-seif;font-size:14px;}
.livicon-container{text-align:center;}
.livicon{display:inline-block;line-height:inherit;vertical-align:middle;margin-right:auto;margin-left:auto;}
.close-btn-26{display:block;position:absolute;top:-11.5555555555556px;right:-11.5555555555556px;height:0;width:26px;padding:26px 0 0 0;overflow:hidden;background:#000000 none;border:2.95454545454545px solid #ffffff;-moz-border-radius:26px;-webkit-border-radius:26px;border-radius:26px;box-shadow:0 0 6px #000000,1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);-ms-box-shadow:0 0 6px #000000,1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 6px #000000,1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 6px #000000,1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);color:#ffffff;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;user-select:none;}
.close-btn-26:before{content:"\D7";display:block;text-align:center;width:26px;position:absolute;top:-2.6px;left:0;font-size:26px;line-height:26px;font-family:"Helvetica Neue",Consolas,Verdana,Tahoma,Calibri,Helvetica,Menlo,"Droid Sans",sans-serif;}
.alt-player-link-middle{color:#ccc;position:absolute;left:54;right:0;top:50%;margin-top:35px;text-align:center;font-family:Lato,sans-serif;font-size:12px;}
.alt-player-link-top{color:#ccc;position:absolute;top:0;left:0;right:0;text-align:center;font-family:Lato,sans-serif;font-size:12px;}
.alt-player-link a{color:#ccc;hover-color:#f00;}
.ui-front{z-index:1000000 !important;}

/* Added by HR ----------------------------------------------------------------------------*/
/* Upper-Right Nav Buttons --*/
.navButton{color:#ccc; font-size: 18px; padding: 3px; text-decoration: none;}
.navButton:hover{color:#0F0;}
.on{color: #0F0 !important;}

#toggleComments{color: #ccc; height: 20px; left: 0px; position: absolute; width: 30px; text-align: center;}
#toggleSubtitles{color: #ccc; left: 30px; height: 20px; position: absolute; width: 30px; text-align: center;}
#toggleComments:hover, #toggleSubtitles:hover{color:#0F0;}
#comment-container{bottom: 0px; display: none; height:60px; position: absolute; text-align: right; width:100%;}
#input-container{background-color: darkgray; height: 30px; position: absolute; top: 0px; width: 100%;}
#input-field{background-color: lightgray; border: 1px solid white; border-radius: 15px; box-sizing: border-box; color: black; font-size: 16px; margin: 0% 5%; padding-left: 10px; width: 90%;}
.commentButton{color:#ccc; font-size: 18px; padding: 3px; text-decoration: none;}
.commentButton:hover{color:#0F0;}
#reportComment{bottom: 5px; position: absolute; right: 95px;}
#reportComment:hover{color:#c33;}
#likeComment{bottom: 5px; position: absolute; right: 65px;}
#replyToComment{bottom: 5px; position: absolute; right: 35px;}
.inputDefault{color: gray;}
#previousMessage{bottom: 15px; color: white; font-size: 30px; left: 5px; position: absolute; text-align: center; width: 30px;}
#avatar{background-color: white; border: 1px black solid; bottom: 30px height: 29px; left: 50px; position: absolute; width: 30px;}
#message{height: 30px; left: 100px; position: absolute; text-align: left; right: 125px;}
#messageUsername{color: black; font-family: Lato, sans-serif; font-size: 18px; font-style: italic;}
#messageText{color: black; font-family: Lato, sans-serif; font-size: 18px; padding-left: 5px;}
#nextMessage{bottom: 15px; color: white; font-size: 30px; position: absolute; right: 5px; text-align: center; width: 30px;}
#message-container{background-color: darkgray; bottom: 0px; height: 30px; position: absolute; width: 100%;}
#confirmDeletion{background-color: #ccc; border: 1px solid black; border-radius: 15px; font-weight: bold; padding: 5px 0; text-align: center;}
#confirmDeletion:hover{background-color: #fff;}
#commentToDelete{padding-bottom: 10px; text-align:center;}

/* --- Volume Control --- */
a, i{text-decoration: none;}
.icon-volume-down{color:#999;}
#volume-icon{position: absolute; width: 25px; right: 0;top: 0;}
#volume-icon i:hover{color:#3d3d3d;}
.ui-slider-vertical {z-index: 1;margin-left: auto; top:-132px; right:7px;height:100px;}

/* --- Timeline Comment Visualizer --- */
#comment-timeline-container {position: absolute; z-index: 1000000; position: absolute; top:0; bottom:0; left:40px; right:70px;}
#comment-timeline-canvas-container {position: absolute; width:100%; height:35%; margin-top: 9px;}
#comment-timeline-canvas{z-index: 10000001; position: absolute;}
