@import url(http://fonts.googleapis.com/css?family=Lato:700,700italic|Oswald|Open+Sans:400,600);
svg{font:10px sans-serif;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#oscope{opacity:0.0;}
.reel-cached{display:none;}
.line{fill:none;stroke:#5CBA47;stroke-width:2.5px;}
.xv-line{fill:none;stroke:#f00;stroke-width:2.5px;}
.xv-line-ghost{fill:none;stroke:#666;stroke-width:2.5px;}
.zero-line{fill:none;stroke:#333;stroke-width:1px;}
.axis path,.axis line{fill:none;stroke:#5CBA47;shape-rendering:crispEdges;}
.properties-pane{width:100%;height:100%;font-family:'Arial',sans-serif;font-weight:bold;text-align:left;z-index:100;position:fixed;}
#floatrect{opacity:0.0;}
#interactive{width:100%;height:100%;position:absolute;z-index:100;}
#video{width:100%;height:100%;position:absolute;}
#video iframe{width:100%;height:100%;z-index:50;position:absolute;}
#video video{width:100%;height:100%;z-index:50;position:absolute;display:none;}
.blocker{width:100%;height:100%;position:absolute;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:51;}
.noTitleStuff .ui-dialog-titlebar{display:none;}
.standard-wrapper{position:absolute;top:30px;left:30px;bottom:30px;right:30px;}
.tight-wrapper{position:absolute;top:0;left:0;right:0;bottom:30px;}
#stage{width:100%;position:absolute;top:0;bottom:50px;}
#controls{background-color:#666;position:absolute;bottom:0;height:50px;width:100%;}
#timeline-controls{left:0px;right:70px;height:30px;bottom:0;position:absolute;opacity:0.7;z-index:101;background-color:#ccc;}
.timeline-container{top:0;bottom:0;left:40px;right:70px;position:absolute;}
#clock{bottom:8px; right:30px; width:30px;font-family:Lato,sans-serif;font-size:12px;font-weight:700;position:absolute;}
/*.volume-icon{bottom:5px;right:8px;width:20px;height:20px;font-size:20px;position:absolute;vertical-align:middle;}*/
.timeline-background-rect{fill:#ccc;opacity:0.0;}
.timeline-segment-marker{fill:red;}
.timeline-subsegment-marker{fill:#999;}
.timeline-progressbar{fill:#fff;}
.timeline-progressbar-background{fill:#aaa;}
.timeline-button{height:100%;width:40px;margin:0;padding:0;opacity:0.5;}
.timeline-svg{width:100%;height:100%;}
#scene-indicator-container{position:absolute;left:5px;right:0;opacity:0.8;z-index:1001;padding:0;height:20px;bottom:30px;}
#scene-indicator{position:absolute;bottom:20%;top:15%;left:50px;right:10px;z-index:1001;padding:0;}
.scene-indicator-group{opacity:0.8;height:100%;width:100%;}
.scene-indicator-active{fill:#fff;stroke:#666;stroke-width:2;}
.scene-indicator-inactive{fill:#999;}
.scene-indicator-label{font-size:10px;font-family:sans-serif;font-weight:bold;color:#ddd;}
.lower-third{position:absolute;height:55px;left:0;right:0;bottom:30px;background-color:#444;opacity:0.8;z-index:1000;padding:5px;display:none;}
.lower-third-title{font-size:30px;font-family:sans-serif;color:#fff;}
.subtitles{position:absolute;height:60px;left:0;right:0;bottom:50px;z-index:900;display:none;font-size:20px;font-family:sans-serif;color:#ff6;text-align:center;padding:3px;background-color:#333;overflow-y:scroll;}
.loading-indicator{position:absolute;height:100%;width:100%;display:none;z-index:1000;}
.loading-icon{width:54px;height:54px;position:absolute;left:50%;top:50%;margin-left:-27px;margin-top:-27px;}
.loading-icon span{margin-left:-27px;}
.logo-overlay{position:absolute;left:2%;top:2%;width:7%;opacity:.5;z-index:1000;}
.survey-overlay{position:absolute;height:800px;width:90%;margin:20px 20px;padding:10px;background-color:#fff;display:none;z-index:2000;box-shadow:1px 1px 20px black;}
.survey-overlay-content{overflow:scroll;height:800px;}
img.lesson-teaser{float:right;}
.logo-overlay{position:absolute;left:2%;top:2%;width:7%;opacity:.5;z-index:1000;}
.lesson-overlay{position:absolute;height:80%;width:80%;margin:30px 30px;padding:20px;background-color:#fff;display:none;z-index:2000;box-shadow:1px 1px 20px black;}
.lesson-overlay-content{overflow:scroll;position:absolute;top:30px;bottom:0;left:0;right:0;}
.toplevel-overlay{position:absolute;margin-top:0;margin-bottom:0;width:90%;margin:20px 20px;padding:10px;background-color:#fff;display:none;z-index:9000;box-shadow:1px 1px 20px black;top:10px;bottom:10px;}
.toplevel-overlay-content{overflow:scroll;height:80%;}
.right-nav{position:absolute;right:10px;top:2%;width:200px;height:30px;opacity:0.5;z-index:1000;text-align:right;}
.autosize{position:absolute;}
.backdrop{position:fixed;left:0;top:0;bottom:0;right:0;z-index:0;opacity:1.0;background-color:#000;}
.msg-flash{position:relative;width:300px;height:30px;margin-top:0;margin-left:auto;margin-right:auto;background:#444;padding:0.5em;border:1px solid #aacbe2;z-index:2000;text-align:center;color:#fff;font-size:44;}
.error-flash{background:#f0d6d6;padding:0.5em;opacity:0;}
.form-error{color:red;}
.error-content{width:400px;margin-left:auto;margin-right:auto;margin-top:200px;}
.error-content h1{font-family:Oswald,sans-serif;font-weight:bold;font-size:22px;}
.error-content h2{font-family:Lato,sans-seif;font-size:18px;}
.error-content p{font-family:Lato,sans-seif;font-size:14px;}
.livicon-container{text-align:center;}
.livicon{display:inline-block;line-height:inherit;vertical-align:middle;margin-right:auto;margin-left:auto;}
.close-btn-26{display:block;position:absolute;top:-11.5555555555556px;right:-11.5555555555556px;height:0;width:26px;padding:26px 0 0 0;overflow:hidden;background:#000000 none;border:2.95454545454545px solid #ffffff;-moz-border-radius:26px;-webkit-border-radius:26px;border-radius:26px;box-shadow:0 0 6px #000000,1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);-ms-box-shadow:0 0 6px #000000,1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 6px #000000,1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 0 6px #000000,1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3),-1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);color:#ffffff;cursor:pointer;-moz-user-select:none;-webkit-user-select:none;user-select:none;}
.close-btn-26:before{content:"\D7";display:block;text-align:center;width:26px;position:absolute;top:-2.6px;left:0;font-size:26px;line-height:26px;font-family:"Helvetica Neue",Consolas,Verdana,Tahoma,Calibri,Helvetica,Menlo,"Droid Sans",sans-serif;}
.alt-player-link-middle{color:#ccc;position:absolute;left:54;right:0;top:50%;margin-top:35px;text-align:center;font-family:Lato,sans-serif;font-size:12px;}
.alt-player-link-top{color:#ccc;position:absolute;top:0;left:0;right:0;text-align:center;font-family:Lato,sans-serif;font-size:12px;}
.alt-player-link a{color:#ccc;hover-color:#f00;}
.ui-front{z-index:1000000 !important;}

/* --- Comment Submission --- */
.input{position:absolute; bottom:0px;}
.submit-comment{position:absolute;height:60px;left:0;right:0;bottom:50px;z-index:900;display:none;font-size:20px;font-family:sans-serif;padding:3px;overflow-y:hidden;overflow-x:auto;}
#additional-controls{position: absolute; width: 30px; left: 0px;}
#bottom-controls{width: 100%; height: 30px; position: absolute; bottom: 0px; left: 0px; background-color: #ccc;}
#inputTextArea{font-size: 14px; border: none; width: 430px; height: 100%;}
.inputSubmitButton{float:right;}

/* ------------------------ Comments ----------------- */
.comments{bottom: 48px; display:none; height: 66px; position: absolute; z-index:900; width: 100%;}
.comment{background-color:#fff; border-radius: 5px 5px 0px 0px; color: #000; height: 42px; opacity: 0.8; padding: 2px; position: relative; top: 5px;}
.comment:hover{background-color: #fff; border: 2px solid black; border-bottom: 0px; color: #000; opacity: 1.0;}
#first{float:left; margin: 0px 5px; width: 33.33%;}
#second{margin: 0 5px; overflow: auto;}
#third{float:right; margin: 0px 5px; width: 33.33%;}
.userAndTime{bottom: 0px; font-size: 12px; margin: 3px; position: absolute; left: 0px;}
.message{font-size: 16px; margin: 0px;}
.messageID{display:none;}
#comment-bar{margin-left: 20px; margin-right: 20px;}
.comment i{bottom: 0px; color:#ccc; margin: 3px; position: absolute;}
.icon-mail-reply{right: 20px;}
.icon-mail-reply:hover{color:#000;}
.icon-warning-sign{right:0px;}
.icon-warning-sign:hover{color:#c33}
#prev{bottom: 5px; font-size: 24px; left: 0px; position: absolute; width: 20px;}
.icon-forward:hover{color: #000;}
#next{bottom: 5px; font-size: 24px; position: absolute; right: 15px; width: 20px;}
.icon-backward:hover{color:#000;}
.comment a{float: right; margin: 0px 5px; position: absolute; top: 15px;}
/* Comment Submission */
input{border: 0; bottom: 0px; font-size: 16px; padding: 2px 0% 2px 1%; position: absolute; width: 99%}

/* --- Right-nav Links --- */
a, i{text-decoration: none;}
.right-nav i{color:#ccc; padding-left: 3px; padding-right: 3px;}
.right-nav i:hover{color:#c33}
.on{color: red !important;}

/* --- Volume Control --- */
.icon-volume-down{width:30px;height:30px;color:#999;}
#volume-control{position: absolute; width: 30px; right: 50px; z-index: 1010;}
#volume-control i:hover{color:#3d3d3d;}
#volume {width: 10px;}
#slider-vertical .ui-slider {top:-1000px;}
.ui-slider-vertical {margin-right: 63px;
margin-left: auto;
z-index: 10000;
bottom: 82px;}

/* --- Confusion Control --- */
#confusion-control{position: absolute; width: 100px; left: 93%; z-index: 1000;}

