html

  head
    link(href='http://fonts.googleapis.com/css?family=Lato:900,900italic|Oswald|Open+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='{{static_base_url}}/css/mcb80x.css')

  body


    .error-content

      img(src='{{static_base_url}}/images/sad_brain.png')

      h1 OOPS.
      h2 (error 404)

      p The page you were looking for cannot be found.  Click <a href="/course">here</a> to return to the course map.

