html

  head
    link(href='http://fonts.googleapis.com/css?family=Lato:900,900italic|Oswald|Open+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='{{static_base_url}}/css/mcb80x.css')

  body


    .error-content

      img(src='{{static_base_url}}/images/sad_brain.png')

      h1 OH NOES.
      h2 (error 500)

      p An error has occurred.  We're sorry for any inconvenience.  This error has been logged, and we hope to fix it soon.

      p  Click <a href="/course">here</a> to return to the main course page.  If you're having trouble logging on, please email us at <a href="mailto:hello@mcb80x.org">hello@mcb80x.org</a> and let us know your username and login method.

